In [6]:
import pandas as pd
import os
import re
import glob

In [19]:
fpath = "/scratch/indikar_root/indikar1/shared_data/adapter_clean_up/reports/adapter_summary.csv"

df = pd.read_csv(fpath)
print(f"{df.shape=}")
df.head()

df.shape=(37432, 3)

                         Name   count   basename
0    SQK-MAP006_Y_Bottom_SK64  821562  o4b01.txt
1                    BC01_rev  812206  o4b01.txt
2                        BC01  401603  o4b01.txt
3                 PCR_2_start  392930  o4b01.txt
4                   PCR_1_end   51469  o4b01.txt

In [53]:
def categorize_item(item):
    """
    Categorizes an item as "barcode", "PCR", or "adapter" based on its prefix.

    Args:
        item (str): The item to categorize.

    Returns:
        str: The category of the item.
    """

    if "BC" in item:
        return "Barcode"
    else:
        return "PCR"
    
df['adapter_type'] = df['Name'].apply(lambda x: categorize_item(x))
df['sample'] = df['basename'].str[:2]
df['cell'] = df['basename'].str[2:5]
df.head()

                         Name   count   basename adapter_type sample cell
0    SQK-MAP006_Y_Bottom_SK64  821562  o4b01.txt          PCR     o4  b01
1                    BC01_rev  812206  o4b01.txt      Barcode     o4  b01
2                        BC01  401603  o4b01.txt      Barcode     o4  b01
3                 PCR_2_start  392930  o4b01.txt          PCR     o4  b01
4                   PCR_1_end   51469  o4b01.txt          PCR     o4  b01

In [54]:
gx = df.groupby('Name')['count'].sum()
gx = gx.sort_values(ascending=False)
gx.head(10)

Name
SQK-MAP006_Y_Bottom_SK64    102678625
PCR_2_start                  88690883
PCR_1_end                    39140260
PCR_1_start                  36673957
BC11_rev                     17282755
BC68_rev                     13526010
BC11                         12076653
BC68                         11059191
BC55_rev                      8368905
BC55                          8320134
Name: count, dtype: int64

In [57]:
gx = df.groupby(['sample', 'adapter_type']).agg(
    total_instances = ('count', 'sum'),
).reset_index()


gx = pd.pivot(gx, index='sample', columns='adapter_type', values='total_instances')
gx['Total Detected'] = gx.sum(axis=1)
gx['Barcode'] = (gx['Barcode'] / gx['Total Detected']) * 100
gx['PCR'] = (gx['PCR'] / gx['Total Detected']) * 100
gx = gx.reset_index()

print(gx.round(2).astype(str).to_latex(index=False))

\begin{tabular}{llll}
\toprule
sample & Barcode & PCR & Total Detected \\
\midrule
o1 & 41.43 & 58.57 & 37733663 \\
o2 & 45.21 & 54.79 & 80944949 \\
o3 & 45.44 & 54.56 & 269214162 \\
o4 & 44.99 & 55.01 & 104288216 \\
\bottomrule
\end{tabular}

In [20]:
df['Name'].unique()

array(['  SQK-MAP006_Y_Bottom_SK64', '  BC01_rev', '  BC01',
       '  PCR_2_start', '  PCR_1_end', '  PCR_1_start', '  BC93_rev',
       '  BC93', '  BC03_rev', '  BC79_rev', '  BC79', '  BC03',
       '  BC55_rev', '  BC55', '  BC24_rev', '  BC09', '  BC68_rev',
       '  BC68', '  BC25_rev', '  BC25', '  BC24', '  BC65', '  BC09_rev',
       '  BC73_rev', '  SQK-MAP006_Short_Y_Top_LI32', '  BC73',
       '  BC06_rev', '  BC65_rev', '  SQK-MAP006_Short_Y_Bottom_LI33',
       '  BC05_rev', '  PCR_3_end', '  BC02', '  BC04', '  BC04_rev',
       '  PCR_3_start', '  BC06', '  BC14', '  BC10', '  BC02_rev',
       '  BC05', '  BC13', '  BC21', '  BC19', '  BC76', '  BC12_rev',
       '  BC45', '  BC15', '  BC23', '  BC10_rev', '  BC08',
       '  SQK-NSK007_Y_Top', '  BC17', '  BC16', '  BC08_rev', '  BC43',
       '  BC46', '  BC12', '  BC13_rev', '  BC20', '  BC34', '  BC11',
       '  BC89', '  BC84', '  BC15_rev', '  BC07', '  BC21_rev', '  BC81',
       '  BC63', '  BC82', '  BC33', '  BC27', '  BC85', '  BC66',
       '  BC54', '  BC72', '  BC11_rev', '  BC70', '  BC83', '  BC49',
       '  BC51', '  BC14_rev', '  BC40', '  BC52', '  BC31', '  BC47',
       '  BC40_rev', '  BC64', '  BC69', '  BC39', '  BC80', '  BC77',
       '  BC78', '  BC50', '  BC37', '  BC60', '  BC17_rev', '  BC75',
       '  BC96', '  BC28', '  BC18', '  BC57', '  BC42', '  BC23_rev',
       '  BC20_rev', '  BC48', '  BC71', '  BC76_rev', '  BC22',
       '  BC19_rev', '  BC26', '  BC41', '  BC69_rev', '  BC45_rev',
       '  BC36', '  BC61', '  BC62', '  BC07_rev', '  BC38', '  BC82_rev',
       '  BC47_rev', '  BC22_rev', '  BC16_rev', '  BC34_rev', '  BC30',
       '  BC70_rev', '  BC54_rev', '  BC27_rev', '  BC57_rev',
       '  1D2_part_2_start', '  BC31_rev', '  BC38_rev', '  BC53',
       '  BC89_rev', '  BC33_rev', '  BC85_rev', '  BC81_rev',
       '  BC43_rev', '  BC61_rev', '  BC18_rev', '  BC66_rev',
       '  BC28_rev', '  BC80_rev', '  SQK-MAP006_Y_Top_SK63',
       '  BC63_rev', '  BC72_rev', '  BC50_rev', '  BC84_rev',
       '  BC75_rev', '  BC41_rev', '  BC83_rev', '  BC46_rev',
       '  BC60_rev', '  BC42_rev', '  BC49_rev', '  BC30_rev',
       '  BC62_rev', '  BC77_rev', '  BC39_rev', '  BC37_rev',
       '  BC71_rev', '  BC48_rev', '  BC26_rev', '  BC52_rev',
       '  BC51_rev', '  BC78_rev', '  BC36_rev', '  BC96_rev',
       '  BC64_rev', '  PCR_2_end', '  BC53_rev', '  BC94', '  BC88',
       '  BC94_rev', '  BC95', '  BC88_rev', '  BC95_rev', '  BC91',
       '  BC91_rev', '  BC58_rev', '  BC56', '  BC58', '  BC44', '  BC59',
       '  BC35', '  BC90', '  BC32_rev', '  BC86_rev', '  BC86',
       '  BC90_rev', '  BC29', '  BC32', '  BC44_rev', '  BC59_rev',
       '  BC56_rev', '  BC35_rev', '  BC29_rev', '  BC92', '  BC92_rev',
       '  BC87', '  BC67', '  BC67_rev', '  BC87_rev',
       '  SQK-NSK007_Y_Bottom', '  BC74_rev', '  BC74',
       '  1D2_part_2_end'], dtype=object)